.track-info-panel{
    margin-left: 55px;
  }
  
  .track-info-panel button{
    background-color: rgb(54, 42, 88);
    border:rgb(54, 42, 88);
  }
  
  .progress-bar{
    margin-top: 10px;
  }

.time-stamp-container{
    margin-top: 20px;
    text-align: center;
    color:rgb(54, 42, 88);
}
