
@import '~antd/dist/antd.css';
@import './styles/ObserverInfo.css';
@import './styles/SatelliteList.css';
@import './styles/WorldMap.css';

.App-logo {
  height: 60px;
  padding-left: 25px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  align-content: center;
}

.ant-layout-header {
  background-image: url('./images/stars.jpg');
  background-position-y: 20%;
  background-size: cover;
  position: fixed;
  align-items: center;
  height: 65px;
  width: 100%;
  color:white;
  box-shadow: rgb(220, 220, 220) 0 2px 10px;
}

.ant-layout-footer {
  position: fixed;
  text-align: center;
  height: 65px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('./images/stars_footer.jpg');
  background-position-y: 70%;
  background-size: cover;
  color: #fff;
}

.ant-layout-content {
  margin-top: 65px;
  background:#fff;
  min-height: 120px;
}

.track-info-panel{
  margin-top: 10px;
}